
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}
section {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    background: white;
    border: 1px solid #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
section:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
footer{
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
}
.foto-profil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    margin: 0 20px 0 0;
    float: left;
}
.foto-kanan {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    float: right;
    margin: 0 0 0 20px;
}
section {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}